
*{
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.land-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#land-img{
  height:100vh;
  width:100%;
}

.links{
  display: flex;
  flex-direction: row;
  font-size: xxx-large;
}

a{
  padding: 0 5%;
}

a:link, a:visited{
color: black;
}

a:hover{
  color:darkcyan !important;
}

nav{
  display:flex;
  justify-content: space-evenly;
}

h3{
  color:white !important;
}

#nav-contact{
  background-color: transparent;
  border: transparent;
  font-size: xxx-large;
  color:black;
  padding: 0 5%;
}

.logo{
  margin-top: 1%;
}

.links{
  display: flex;
  justify-content: center;
}

.d-block{
  height:100vh;
  
}

.ant-modal{
  float:left;
}

.ant-modal, .ant-modal-content {
  height: 100vh;
  width: 99vw;
 }

 .ant-modal-body {
  height: calc(100vh - 110px);
 }

 .card-img-top{
   height:60%;
   object-fit: contain;
 }

 .card-title{
   text-align: center;
 }
 
 .card-footer{
   text-align:center;
 }

#about{
  width:100%;
  position: absolute;
}

.about-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border:2px solid red;
}

.box{
  box-shadow: 0px 0px 15px -5px;
  position: relative; 
  z-index: 1; 
}

.about-container .box:nth-child(1){
  /* border:2px solid blue; */
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* .box:nth-child(2){
}

.box:nth-child(3){

}

.box:nth-child(4){

}

.box:nth-child(5){

}

.box:nth-child(6){

}

.box:nth-child(7){

}

.box:nth-child(8){

}

.box:nth-child(9){

} */

.d-block{
  width: 100%;
  height:100%;
  background-position: center;
}

:root {
  --blue: rgb(26, 57, 87);
  --white: rgb(236, 236, 236);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
}