.wrap{
  height: 212vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  grid-template-rows: 475px 125px 220px 110px;
}

/* tree photo from figma */
#about{
  width:100%;
  position: absolute;
}

.box{
  box-shadow: 0px 0px 15px -5px;
  position: relative; 
}

/* the cards in about page */
.card{
  width:fit-content;
}

.card-img-top{
  height:60%;
  object-fit: contain;
}

.card-title{
  text-align: center;
}

.card-footer{
  text-align:center;
}
 
/* .card:{
  border: 2px solid red;
}  */

.card:nth-child(2){
  border: 2px solid blue;
}

.card:nth-child(3){
  border: 2px solid green;
}

.card:nth-child(4){
  border: 2px solid purple;
}

.card:nth-child(5){
  border: 2px solid orange;
}

.card:nth-child(6){
  border: 2px solid pink;
}

.card:nth-child(7){
  border: 2px solid cyan;
}

.card:nth-child(8){
  border: 2px solid slategray;
}

.card:nth-child(9){
  border: 2px solid green;
}