.modal-body{
    display: flex;
    flex-wrap: wrap;
}
#line1{
    display: flex;
    align-items: baseline;
}

#line2{
    display: flex;
    align-items: baseline;
    width: 80%;
}

#line3{
    display: flex;
    align-items: baseline;
}

#line4{
    margin-right: 18.5rem;
    width: 10%;
}
